<div class="title">
    <h1>
        The future of our planet starts with us
    </h1>
</div>
<div class="about-us">
    <h1>About us</h1>
    <img src="https://cdn-user-icons.flaticon.com/98247/98247267/1680383540725.svg?token=exp=1680384442~hmac=927b6540cffa0b26c3802fb0fbb3ff1c"
        alt="">
    <p>Our website was created to make your live beter and comfotable because of</p>
</div>
<div class="articles">
    <h1>Articles</h1>
    <div class="card-container">
        <div class="card">
            <img src="https://cdn.britannica.com/79/65379-050-5CF52BAC/Shortfin-mako-shark-seas.jpg" alt="">
            <p>Sharks - ...</p>
            <span class="open-button" onclick="showPopup()">Let's go</span>
            <div class="popup">
                <div class="popup-content">
                    <span class="close-button" onclick="hidePopup()">&times;</span>
                    <p>Sharks are a group of elasmobranch fish characterized by a cartilaginous skeleton, five to
                        seven gill slits on the sides of the head, and pectoral fins that are not fused to the head.
                        Modern sharks are classified within the clade Selachimorpha (or Selachii) and are the sister
                        group to the Batoidea (rays and kin). Some sources extend the term "shark" as an informal
                        category including extinct members of Chondrichthyes (cartilaginous fish) with a shark-like
                        morphology, such as hybodonts and xenacanths. Shark-like chondrichthyans such as
                        Cladoselache and Doliodus first appeared in the Devonian Period (419-359 Ma), though some
                        fossilized chondrichthyan-like scales are as old as the Late Ordovician (458-444 Ma). The
                        oldest modern sharks (selachians) are known from the Early Jurassic, about 200 Ma.

                        Sharks range in size from the small dwarf lanternshark (Etmopterus perryi), a deep sea
                        species that is only 17 centimetres (6.7 in) in length, to the whale shark (Rhincodon
                        typus), the largest fish in the world, which reaches approximately 12 metres (40 ft) in
                        length. They are found in all seas and are common to depths up to 2,000 metres (6,600
                        ft). They generally do not live in freshwater, although there are a few known exceptions,
                        such as the bull shark and the river shark, which can be found in both seawater and
                        freshwater. Sharks have a covering of dermal denticles that protects their skin from
                        damage and parasites in addition to improving their fluid dynamics. They have numerous sets
                        of replaceable teeth.</p>
                    <a href="https://en.wikipedia.org/wiki/Shark">... learn more</a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="https://cdn.britannica.com/79/65379-050-5CF52BAC/Shortfin-mako-shark-seas.jpg" alt="">
            <p>Sharks - ...</p>
            <a href="https://en.wikipedia.org/wiki/Shark">... learn more</a>
        </div>
        <div class="card">
            <img src="https://cdn.britannica.com/79/65379-050-5CF52BAC/Shortfin-mako-shark-seas.jpg" alt="">
            <p>Sharks - ...</p>
            <a href="https://en.wikipedia.org/wiki/Shark">... learn more</a>
        </div>
        <div class="card">
            <img src="https://cdn.britannica.com/79/65379-050-5CF52BAC/Shortfin-mako-shark-seas.jpg" alt="">
            <p>Sharks - ...</p>
            <a href="https://en.wikipedia.org/wiki/Shark">... learn more</a>
        </div>
        <div class="card">
            <img src="https://cdn.britannica.com/79/65379-050-5CF52BAC/Shortfin-mako-shark-seas.jpg" alt="">
            <p>Sharks - ...</p>
            <a href="https://en.wikipedia.org/wiki/Shark">... learn more</a>
        </div>
        <div class="card">
            <img src="https://cdn.britannica.com/79/65379-050-5CF52BAC/Shortfin-mako-shark-seas.jpg" alt="">
            <p>Sharks - ...</p>
            <a href="https://en.wikipedia.org/wiki/Shark">... learn more</a>
        </div>

    </div>
</div>

<div class="end">
    <div class="socials">
        <a href=""><img width="20" src="https://cdn-icons-png.flaticon.com/512/739/739244.png" alt=""></a>
        <a href=""><img width="20" src="https://cdn-icons-png.flaticon.com/512/739/739257.png" alt=""></a>
        <a href=""><img width="20" src="https://cdn-icons-png.flaticon.com/512/1946/1946552.png" alt=""></a>
    </div>
    <div class="author">
        <h1>
            <p>+7-705-404-66-39</p>
            <p> ©2023 ТОО "EcoLifestyle"</p>
        </h1>
    </div>
</div>