<nav class="header">
  <div class="welcome">
    <img src="https://cdn-icons-png.flaticon.com/512/3638/3638017.png">
    <h1>EcoLifestyle</h1>
  </div>
  <div class="links">
    <button class="other-page">Check your energy</button>
    <button class="other-page">Sign in/Log in</button>
    <button class="other-page"><img width="25" src="https://cdn-icons-png.flaticon.com/512/1552/1552105.png"
        routerLink="/home-page"></button>
  </div>
</nav>
<ul>
  <li *ngFor="let user of users">{{user.name}}</li>
</ul>